.title-container {
	width: 100%;
	flex: 20%;
	display: flex;
	align-items: flex-end;
	padding-left: 50px;
}

.greeting {
	color: white;
	font-size: 50px;
}

.stats-container {
	flex: 30%;
	padding-top: 30px;
}

.stats {
	margin-top: 0px;
	margin-left: 70px;
	color: white;
	font-weight: 550;
}


.add-BMI-data-btn-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.add-BMI-data-btn {
	outline: none;
	width: 20%;
	height: 50px;
	background-color: #f97e28;
	border: none;
	color: white;
	border-radius: 20px;
}

.add-BMI-data-btn:hover {
	cursor: pointer;
}

.tags-container {
	width: 100%;
	flex: 50%;
	display: flex;
	align-items: center;
	padding-top: 30px;
	flex-direction: column;
}

.excercise-tag {
	width: 95%;
	margin-bottom: 30px;
}

.excercise-tag-btn {
	display: block;
	width: 100%;
	padding: 15px;
	padding-left: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	text-align: left;
	font-size: 20px;
	border-radius: 10px;
	background-color: #2879f9;
	color: white;
	border: none;
	outline: none;
}

.excercise-tag-btn::after {
	content: '\25be';
	color: white;
	float: right;
	transform: scale(2);
}

.excercise-tag-btn:focus {
	outline: none !important;
}

.excercise-tag-btn-active::after {
	content: '\25b4';
}

.excercise-tag-content {
	display: flex;
	flex-direction: column;
	background-color: #2879f9;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s;
	border: none;
	outline: none;
	border-radius: 0px 0px 10px 10px;
	justify-content: center;
	align-items: center;
}